.PlayersList{   
    display: grid;
    grid-column-gap: 10px;
    grid-auto-flow: column;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
}
.title{
    text-align: center;
    margin: 10px;
}